.container{
    width: 35%;
    background-color: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;
    display: grid;
    padding-right: 5%;
    

}
body{
    background-color: rgb(204, 220, 250);
}
h1{
    
    margin-left: 42%;
}
hr{
    height:8px;
    color: black;
    background-color: black;
}

